---
import { Image } from 'astro:assets'
import NotFoundGorrilla from '@/images/404-gorilla.jpg'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Page Not Found'>
  <div class='container'>
    <h1>404</h1>
    <Image class='image' src={NotFoundGorrilla} alt='Page Not Found' />
    <p>Sorry, but we were not able to find the page you are looking for</p>
  </div>
</Layout>

<style>
  .container {
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    border-radius: 10rem;
    width: 30rem;
  }

  h1 {
    font-size: 5rem;
    color: var(--primary);
  }

  p {
    color: var(--color-muted);
    margin: 1.5rem;
  }
</style>
