---
import MediumBlogs from '@/components/MediumBlogs.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Blogs'>
  <div class='intro'>
    <div class='message'>
      <h2>My Blogs</h2>
      <p>
        Welcome to my blog page! As encouraged by one of my mentors, I've embraced the challenge of sharing my insights,
        experiences, and learnings through writing. This journey has been an incredible opportunity for personal and
        professional growth. Here, I'll explore a range of topics, from technology and leadership to personal
        development and growth, all shared with the aim of inspiring and engaging readers. Your feedback and thoughts
        are highly valued, so feel free to explore and join me on this exciting writing venture.
      </p>
    </div>
  </div>
  <p>
    Don't let your FOMO get the best of you! <a href='https://medium.com/@shadetreeit' target='_blank' class='button'
      >Follow me on Medium</a
    > and never miss an entry.
  </p>

  <MediumBlogs />
</Layout>

<style></style>
