---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import GorillaWriting from '@/images/gorilla-writing.jpg'
import MediumBlogs from '@/components/MediumBlogs.astro'
---

<Layout title='Blogs'>
  <div class='intro'>
    <Image class='image' src={GorillaWriting} alt='A gorilla writing' />

    <div class='message'>
      <h2>My Blogs</h2>
      <p>
        Welcome to my blog page! As encouraged by one of my mentors, I've embraced the challenge of sharing my insights,
        experiences, and learnings through writing. This journey has been an incredible opportunity for personal and
        professional growth. Here, I'll explore a range of topics, from technology and leadership to personal
        development and growth, all shared with the aim of inspiring and engaging readers. Your feedback and thoughts
        are highly valued, so feel free to explore and join me on this exciting writing venture.
      </p>
    </div>
  </div>
  <MediumBlogs />
</Layout>

<style>
  .image {
    width: 400px;
    height: 400px;
    border-radius: 10px;
  }

  .message {
    min-width: 15rem;
    max-width: calc(100% - 400px - 3rem);
  }

  .intro {
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  @media (max-width: 1444px) {
    .image {
      margin: auto;
    }
    .message {
      width: 100%;
      max-width: 100%;
    }
  }

  @media (max-width: 768px) {
    .image {
      width: 300px;
      height: 300px;
      margin: 0 auto;
    }
    .intro {
      flex-direction: column;
    }
  }
</style>
