---
import Layout from "../layouts/Layout.astro";
import WhoAmI from "../content/whoAmI.md";
---

<Layout title="Adam Jelinek | Who Am I">
  <main>
    <WhoAmI />
  </main>
</Layout>

<style></style>
