<style is:global>
  .gr_grid_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem;
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
  }
</style>
<div id='gr_grid_widget_1697246694'></div>
<script
  src="https://www.goodreads.com/review/grid_widget/96399217.Adam's%20bookshelf:%20read?cover_size=small&hide_link=true&hide_title=true&num_books=200&order=a&shelf=read&sort=random&widget_id=1697246694"
  type='text/javascript'
  charset='utf-8'></script>
