---
import { Icon } from 'astro-icon'
const { quote, author } = Astro.props
---

<div>
  <Icon name='ri:chat-quote-line' />
  <span class='quote'>"{quote}"</span>
  <span class='author'> - {author}</span>
</div>

<style>
  .quote {
    font-size: 0.85em;
    font-weight: italic;
  }
  .author {
    font-size: 0.7em;
    font-weight: italic;
    color: var(--muted-color);
  }
  [astro-icon] {
    height: 1rem;
    width: 1rem;
    color: var(--primary);
    margin-right: 0.5rem;
  }
</style>
