---
import { Image } from 'astro:assets'
import Me from '../images/me.jpg'
import Icon from 'astro-icon'
import { getStaticPaths } from '@/pages/story/[...slug].astro'

const stories = await getStaticPaths()
---

<div class='content'>
  <div class='contact'>
    <Image class='me' src={Me} alt='Me' width='400' />
    <a href='/about-me'><h1 class='name'>Adam Jelinek</h1></a>
    <p class='title'>Technology Director | Entrepreneur</p>
  </div>
  <Icon class='hamburger-button' name='ic:sharp-menu' />
  <nav class='nav'>
    <ul class='nav-list'>
      {
        stories.map(story => (
          <li>
            <a href={`/about-me/story/${story.params.slug}`}>{story.props.title}</a>
          </li>
        ))
      }
      <a href={`/about-me/blogs`}>My Blogs</a>
    </ul>
  </nav>
</div>
<script>
  // Get the current URL
  const currentUrl = location.pathname

  // Get all the list items
  const listItems = document.querySelectorAll('.nav-list li')

  // Loop through the list items and add the active class to the one that matches the current URL
  listItems.forEach(item => {
    const link = item.querySelector('a')
    if (link?.getAttribute('href') === currentUrl) {
      item.classList.add('active-url')
    }
  })
</script>

<style>
  .content {
    background-color: var(--muted-border-color);
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 0.85rem;
    font-style: italic;
  }

  .me {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }

  .name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
  }

  .nav {
    width: 100%;
    justify-content: center;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-list li {
    text-align: center;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
  }

  @media (min-width: 768px) {
    .hamburger-button {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .hamburger-button {
      display: initial;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;
      height: 2rem;
    }
    .nav {
      display: none;
    }
    .nav.open {
      display: initial;
    }
  }
</style>

<script>
  const hamburgerButton = document.querySelector('.hamburger-button')
  const nav = document.querySelector('.nav')

  hamburgerButton?.addEventListener('click', () => {
    nav?.classList.toggle('open')
  })
</script>
