---
import Layout from './Layout.astro'

const { nextUrl, title, nextPageTitle } = Astro.props?.frontmatter || {}
---

<Layout title={title}>
  <div>
    <slot />
  </div>
  <a href={nextUrl}><button>{nextPageTitle}</button></a>
</Layout>

<style>
  a {
    margin: 1.5rem;
  }
  /* div {
    min-height: 81vh;
  } */
</style>
