---
import Layout from './Layout.astro'

const { nextUrl, title, nextPageTitle, minutesRead } = Astro.props?.frontmatter || {}
---

<Layout title={title}>
  <div class='markdown-content'>
    <p class='read-time'>{minutesRead}</p>
    <slot />
  </div>
  <a href={nextUrl}><button>{nextPageTitle}</button></a>
</Layout>

<style>
  .markdown-content {
    position: relative;
  }

  a {
    margin: 1.5rem;
  }
  .read-time {
    margin: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: smaller;
    color: var(--muted-color);
  }
</style>
