---
import SideNavigation from '../components/SideNavigation.astro'
import { ViewTransitions } from 'astro:transitions'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Adam Jelinek | Blog | Story | and more' />
    <meta name='viewport' content='width=device-width' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css' />
    <link rel='icon' type='image/svg+xml' href='/about-me/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class='body'>
    <div class='side-nav'>
      <SideNavigation />
    </div>

    <div class='page'>
      <slot />
    </div>
    <style>
      .body {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: row;
        justify-content: space-between;
      }
      .side-nav {
        min-width: 20rem;
        flex-basis: 20%;
      }
      .page {
        padding: 1rem;
        flex-basis: 80%;
      }
      @media screen and (min-width: 1200px) {
        .page {
          padding: 1rem 5rem;
        }
      }

      @media screen and (max-width: 768px) {
        .body {
          flex-direction: column;
        }
        .side-nav {
          min-width: 100%;
          flex-basis: 100%;
        }
        .page {
          padding: 1rem;
          flex-basis: 100%;
        }
      }
    </style>
    <style is:global>
      h1 {
        --typography-spacing-vertical: 0.5rem;
      }

      h2,
      h3,
      h4 {
        --typography-spacing-vertical: 0.25rem;
      }
      .active-url {
        background: var(--primary-focus);
      }
    </style>
  </body>
</html>
